html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: white;
}

.banner_ad,
.adsbox {
    height: 1px;
    width: 1px;
    position: absolute;
    background-color: transparent;
}

main {
    max-width: 768px;
    margin: 0 auto;
    padding-top: 4rem;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: skyblue;
}

main > p {
    margin-bottom: 20px;
    line-height: 1.4rem;
}

.filter {
    min-height: 100%;
    width: 100%;
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}

aside {
    max-width: 40%;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    color: #111;
    padding: 20px 20px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    z-index: 10;
}

aside > h2 {
    font-weight: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

aside > .close {
    position: absolute;
    right: 2%;
    top: 5%;
    cursor: pointer;
    font-weight: bold;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    main {
        padding: 0 30px;
        padding-top: 1rem;
    }

    aside {
        max-width: 75%;
        width: 75%;
    }
}
