:root {
    --stalactites-top-scale: 0.6;
    --stalactites-bottom-scale: 0.35;
    --stalactites-fall-time: 3.5s;
}

html,
body {
    height: 100%;
    overflow-y: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #041f30;
}

.container {
    height: 300px;
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.face {
    height: 130px;
    width: 130px;
    background-color: #85bfed;
    border-radius: 100%;
    border: 10px solid black;
    position: relative;
    animation: shake 100ms ease-in-out infinite;
}

.eyes {
    display: flex;
    position: absolute;
    top: 29%;
    width: 100%;
    justify-content: center;
}

.eye {
    height: 22px;
    width: 12px;
    background-color: black;
    margin: 0 20px;
    border-radius: 20px;
}

.mouth {
    height: 21px;
    width: 40%;
    background-color: black;
    left: 50%;
    position: relative;
    top: 58%;
    transform: translateX(-50%);
    border-radius: 100px 100px 0 0;
    border: 4px solid black;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.teeth-top,
.teeth-bottom {
    display: flex;
}

.teeth-top > .tooth {
    border-top: none;
    overflow: hidden;
}

.teeth-bottom > .tooth {
    border-bottom: none;
    overflow: hidden;
}

.tooth {
    width: 10px;
    height: 8px;
    background-color: white;
    border: 2px solid black;
}

.cold {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0.3;
}

.stalactites {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    transform: scale(0);
    transform-origin: 50% 0;
}

.stalactites > .circle {
    height: 20px;
    width: 35px;
    border-radius: 100px 100px 0 0;
    background-color: white;
    margin: 0 0 -1px 0;
}

.stalactites > .triangle {
    clip-path: polygon(50% 100%, 15% 0, 85% 0);
    width: 50px;
    height: 80px;
    background-color: white;
}

.stalactites.first {
    top: 45%;
    left: -9%;
    transform: scale(0);
    animation: top-stalactites var(--stalactites-fall-time) linear infinite 1s;
}

.stalactites.second {
    top: 45%;
    left: 70%;
    transform: scale(0);
    animation: top-stalactites var(--stalactites-fall-time) linear infinite;
}

.stalactites.third {
    top: 65%;
    left: 2%;
    transform: scale(0);
    animation: bottom-stalactites var(--stalactites-fall-time) linear infinite 3s;
}

.stalactites.fourth {
    top: 65%;
    left: 60%;
    transform: scale(0);
    animation: bottom-stalactites var(--stalactites-fall-time) linear infinite 4s;
}

@keyframes shake {
    from {
        transform: translateX(-2%);
    }

    from {
        transform: translateX(2%);
    }
}

@keyframes top-stalactites {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(var(--stalactites-top-scale));
    }

    40% {
        transform: scale(var(--stalactites-top-scale));
    }

    100% {
        transform: scale(var(--stalactites-top-scale)) translateY(800%);
    }
}

@keyframes bottom-stalactites {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(var(--stalactites-bottom-scale));
    }

    40% {
        transform: scale(var(--stalactites-bottom-scale));
    }

    100% {
        transform: scale(var(--stalactites-bottom-scale)) translateY(800%);
    }
}
