:root {
    --body-padding-top: 30px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #333;
}

main {
    max-width: 768px;
    margin: auto;
    padding-top: var(--body-padding-top);
}

p {
    text-align: justify;
}

.highlight {
    background-color: orange;
    color: #333;
}

.highlight.active {
    background-color: yellow;
}

.search-box {
    display: flex;
    margin-bottom: 35px;
}

#search {
    flex-grow: 1;
    border-radius: 10px 0 0 10px;
    padding: 10px 10px;
    border: none;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
}

.found {
    background-color: white;
    border: none;
    width: 40px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box > button {
    background-color: white;
    border: none;
    padding: 0 15px;
}

#down-button {
    border-radius: 0 10px 10px 0;
}

@media (max-width: 769px) {
    body {
        padding: 0 40px;
        padding-top: var(--body-padding-top);
    }
}
