:root {
    --dimensions: 350px;
}

body,
html {
    height: 100%;
}

body {
    background-color: #222;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

#picture {
    height: 350px;
    width: 350px;
    margin: 0 auto;
    display: block;
}

.buttons {
    display: flex;
    margin-top: 25px;
    width: 100%;
    justify-content: center;
}

button {
    background-color: white;
    color: #222;
    font-size: 1.2rem;
    border: none;
    margin: 0 20px;
    padding: 5px 20px;
    border-radius: 3px;
    cursor: pointer;
}
