:root {
    --dimensions: 300px;
}

body,
html {
    height: 100%;
}

body {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: var(--dimensions);
    width: var(--dimensions);
    border: 1px solid white;
    position: relative;
}

#picture {
    height: 100%;
    width: 100%;
}
