:root {
    --animation-duration: 500ms;
}

body,
html {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

header {
    width: 100%;
    background-color: rebeccapurple;
    padding: 20px 30px;
    position: sticky;
    top: 0;
    opacity: 0.95;
}

li {
    margin: 0 20px;
    display: inline;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    opacity: 0.8;
}

main {
    max-width: 768px;
    margin: 0 auto;
}

h1 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    line-height: 1.4rem;
}

@media (max-width: 768px) {
    main {
        padding: 0 30px;
    }
}
