body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

html,
body {
    height: 100%;
}

.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sidenav {
    height: 100%;
    width: 20%;
    background-color: lightsteelblue;
    position: absolute;
    transform: translate(-150%);
    transition: transform 300ms linear;
    z-index: 2;
}

.cover {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    z-index: 1;
    display: none;
}

.sidenav-title {
    margin: 20px 0 20px 20px;
    font-size: 1.5em;
    font-weight: 600;
}

a {
    text-decoration: none;
}

a {
    color: #333;
}

nav ul {
    margin: 0 0 0 20px;
}

nav ul li {
    margin: 10px 0;
}

h1 {
    font-weight: 600;
    font-size: 1.7em;
    letter-spacing: 0.03em;
}

p {
    margin: 15px 0;
    line-height: 20px;
}

article {
    max-width: 768px;
    margin: 0 auto;
    padding: 20px 30px;
}

#sidenav-button {
    width: 35px;
    border: none;
    background-color: transparent;
    position: absolute;
    margin: 15px 0 0 20px;
    z-index: 0;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #333;
    margin: 2px 0 0 0;
    border-radius: 10px;
}

@media (max-width: 768px) {
    article {
        padding-top: 45px;
    }

    .sidenav {
        width: 45%;
    }

    #sidenav-button {
        width: 45px;
    }
}
