body,
html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #f4edfb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #4d2870;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 15px;
}

li {
    vertical-align: middle;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    letter-spacing: 0.05rem;
    font-size: 1.1rem;
}

li > span {
    height: 100%;
    display: block;
}

li::before {
    content: url(./images/pets_24px_outlined.svg);
    height: 10px;
    width: 10px;
    position: absolute;
    left: -25px;
    top: 5px;
}
