body,
html {
    height: 100%;
}

body {
    background-color: #e9edf0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.absolute-center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container {
    padding: 15px;
    height: 375px;
    width: 375px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
        'basic pro premium'
        'details details details';
}

.plan-basic {
    grid-area: basic;
}

.plan-premium {
    grid-area: premium;
}

.plan-pro {
    grid-area: pro;
}

.details {
    grid-area: details;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: #333;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.details-row {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.plans {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}

.plan {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 250ms;
}

.plan:focus {
    outline: none;
}

.plan > h2 {
    background-color: skyblue;
    padding: 10px 25px;
    text-align: center;
    transition: background-color 250ms;
}

.plan > .body {
    color: #333;
    text-align: center;
    padding: 15px 15px 0px 15px;
}

.plan .price {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 5px;
    transition: color 250ms;
}

.plan .month {
    font-size: 0.75rem;
    margin-bottom: 15px;
}

.line-long,
.line-middle,
.line-short {
    height: 4px;
    width: 100%;
    background-color: #e4e4e4;
    margin: 7px 0;
    border-radius: 10px;
}

.line-long {
    width: 100%;
}

.line-middle {
    width: 80%;
}

.line-short {
    width: 70%;
}

.plan:hover,
.plan:focus {
    transform: scale(1.05);
}

.plan:hover h2,
.plan:focus h2 {
    background-color: #27a6d2;
}

.plan:hover .price,
.plan:focus .price {
    color: #27a6d2;
}

.progress {
    width: 100%;
    height: 12px;
    background-color: #e4e4e4;
    border-radius: 15px;
    margin: 5px 0 10px 0;
    overflow: hidden;
    position: relative;
}

.progress::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #27a6d2;
    transform: scaleX(0);
    transition: transform 500ms linear;
    transform-origin: left;
    border-radius: 10px;
}

/* basic */
.plan-basic:hover ~ .details .progress.users::after,
.plan-basic:focus ~ .details .progress.users::after {
    transform: scaleX(0.24);
}

.plan-basic:hover ~ .details .progress.space::after,
.plan-basic:focus ~ .details .progress.space::after {
    transform: scaleX(0.27);
}

.plan-basic:hover ~ .details .progress.hours::after,
.plan-basic:focus ~ .details .progress.hours::after {
    transform: scaleX(0.1);
}

/* basic */

.plan-pro:hover ~ .details .progress.users::after,
.plan-pro:focus ~ .details .progress.users::after {
    transform: scaleX(0.56);
}

.plan-pro:hover ~ .details .progress.space::after,
.plan-pro:focus ~ .details .progress.space::after {
    transform: scaleX(0.61);
}

.plan-pro:hover ~ .details .progress.hours::after,
.plan-pro:focus ~ .details .progress.hours::after {
    transform: scaleX(0.5);
}

/* basic */

.plan-premium:hover ~ .details .progress.users::after,
.plan-premium:focus ~ .details .progress.users::after {
    transform: scaleX(1);
}

.plan-premium:hover ~ .details .progress.space::after,
.plan-premium:focus ~ .details .progress.space::after {
    transform: scaleX(1);
}

.plan-premium:hover ~ .details .progress.hours::after,
.plan-premium:focus ~ .details .progress.hours::after {
    transform: scaleX(1);
}
