:root {
    --circle-color-active: #dbab09;
    --circle-color-inactive: #7c6c21;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 33.3%;
    margin: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.subtitle {
    font-size: 0.95rem;
    margin-bottom: 0.2rem;
}

.description {
    color: #555;
    font-size: 0.85rem;
}

.new {
    position: relative;
    display: inline-block;
}

.new::after {
    content: 'NEW';
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    font-weight: normal;
    font-size: 0.8rem;
    padding: 5px;
    background-color: red;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

@media (max-width: 486px) {
    .product {
        width: 100%;
    }
}
