:root {
    --cube-edge: 200px;
}

body,
html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #010b18;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    perspective: 25em;
}

.cube {
    border: 1px solid red;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(65deg);
    animation: rotate 8s linear infinite;
}

[class^='cube-face'] {
    margin: calc(-0.5 * var(--cube-edge));
    width: var(--cube-edge);
    height: var(--cube-edge);
    position: absolute;
}

[class^='cube-face']:nth-of-type(1) {
    transform: rotateY(0deg) translateZ(calc(0.5 * var(--cube-edge)));
    background-color: #2b2d42;
    color: white;
}
[class^='cube-face']:nth-of-type(2) {
    transform: rotateY(90deg) translateZ(calc(0.5 * var(--cube-edge)));
    background-color: #8d99ae;
    color: white;
}
[class^='cube-face']:nth-of-type(3) {
    transform: rotateY(180deg) translateZ(calc(0.5 * var(--cube-edge)));
    background-color: #f8f32b;
}
[class^='cube-face']:nth-of-type(4) {
    transform: rotateY(270deg) translateZ(calc(0.5 * var(--cube-edge)));
    background-color: #21d19f;
    color: white;
    justify-content: flex-start;
}
[class^='cube-face']:nth-of-type(5) {
    transform: rotateX(90deg) translateZ(calc(0.5 * var(--cube-edge)));
    background-color: #111;
    color: white;
}
[class^='cube-face']:nth-of-type(6) {
    transform: rotateX(270deg) translateZ(calc(0.5 * var(--cube-edge)));
    background-color: #f24236;
    color: white;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}
