html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header,
nav,
ul {
    width: 100%;
}

.navigation {
    display: flex;
    width: 100%;
    background-color: green;
    justify-content: space-around;
    padding: 10px 20px;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigaton a::hover {
    color: blue;
}

.hero {
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero > h1 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    padding: 0 30px;
}

.card {
    padding: 10px 30px;
    border: 1px solid gray;
    border-radius: 5px;
}

.card > h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.dog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 40px 30px;
}

@media (max-width: 768px) {
    .dog {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.dog > .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dog > .content > h2 {
    text-align: left;
    width: 100%;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
}

.dog img {
    opacity: 0;
    transform: translateX(20%);
    transition: all 0.8s;
}

img.appear {
    transform: translateX(0%);
    opacity: 1;
}
