:root {
    --duration: 5s;

    --bg-color: #333;
}

body,
html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form-field {
    display: block;
    width: 100%;
    border: 2px solid #c4c4c4;
    border-radius: 4px;
    margin: 10px 0;
    padding: 5px 10px;
    color: #111;
    box-shadow: 0px 0px 10px 5px #00000044;
    font-size: 1.2rem;
    line-height: 1.6rem;
    box-sizing: border-box;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    width: 100% !important;
}

form {
    width: 350px;
}

button {
    padding: 5px 20px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid skyblue;
    background-color: white;
    cursor: pointer;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.6rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-align: center;
    animation: animate-title 700ms ease-in-out infinite alternate;
}

@media (max-width: 468px) {
    h1 {
        font-size: 1.3rem;
    }
}

@keyframes animate-title {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}
