:root {
    --primary-color: #c662f8;
    --secondary-color: #f57cff;
    --text-color: white;
    --black: #333;
    --hover-color: pink;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seconds_container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.seconds_container > span {
    font-size: 0.5em;
}

.seconds_field {
    width: 35px;
    margin: 10px 15px;
}

.slot {
    height: 1em;
    overflow: hidden;
}

#container {
    text-align: center;
}

.input_field {
    border-radius: 10px;
    border: 0.2px solid var(--black);
    padding: 4px 12px;
    font-size: 0.4em;
    color: #333;
    box-shadow: 3px 3px var(--black);
}

.focuseable:focus {
    outline: none;
    box-shadow: 0 0 3pt 1pt var(--hover-color);
}

.button {
    padding: 6px 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 0.5px solid var(--black);
    box-shadow: 1px 1px var(--black);
    width: 100px;
    font-size: 0.35em;
    font-weight: bold;
}

.buttons_container {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.button:disabled {
    background-color: gainsboro;
    border-color: gray;
}

/* */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
