:root {
    --notification-size: 24px;
}

body,
html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #f4edfb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;
}

.grass {
    height: 350px;
    width: 750px;
    background-size: auto;
    background-repeat: repeat;
    position: relative;
}

.flower {
    position: absolute;
    height: 2rem;
    width: 2rem;
    left: 33%;
    top: 40%;
    animation: grow 750ms ease-in-out forwards;
    transform-origin: 50% 100%;
}

.flowers {
    display: none;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 478px) {
    .grass {
        width: 350px;
    }
}

@media (max-width: 768px) {
    .grass {
        width: 500px;
    }
}
