body,
html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Comic Sans MS', 'Comic Sans', 'Arial';
}

style {
    display: block;
    border: 1px solid red;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;
    margin-bottom: 30px;
    max-width: 350px;
    box-sizing: border-box;
}
