:root {
    --background-color: #edf2f6;
    --text-color: #333;
    --card-background-color: white;
    --link-color: darkblue;

    --project-padding: 20px;
    --project-title-margin: 5px;
}

body {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    padding: 40px 40px;
}

h1 {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

#container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.project {
    height: 100px;
    background-color: var(--card-background-color);
    padding: calc(var(--project-padding) - var(--project-title-margin)) var(--project-padding);
    border-radius: 10px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}

.title {
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: var(--project-title-margin);
}

h3.day {
    font-weight: bolder;
}

.project-link {
    position: absolute;
    bottom: var(--project-padding);
    text-decoration: none;
}

a {
    color: var(--link-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #2e3748;
        --text-color: white;
        --card-background-color: #1a202c;
        --link-color: skyblue;
    }
}

@media (min-width: 486px) {
    #container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media (min-width: 768px) {
    #container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}
